@charset "UTF-8";

html>body, button, input {
	font-family: Galmuri11;
	font-weight: 800;
}

img {
	mix-blend-mode: multiply;
}

header {
	background: rgb(213, 255, 255);
}

.top_bar {
	margin: auto;
	width: 1200px;
	height: 200px;
	z-index: 10;
}

.logo {
	top: 10px;
	left: 120px;
}

.bg {
	background: rgb(181, 214, 146);
}

.main {
	margin: auto;
	width: 1200px;
	height: 1200px;
	z-index: 10;
}

.id, .pw {
	width: 285px;
	height: 40px;
	z-index: 20;
}

.csp {
	margin-left: 5px;
	text-indent: 5px;
}

.id {
	top: 348px;
	left: 130px;
}

.pw {
	top: 398px;
	left: 130px;
}

.text_color{
	background: rgb(231, 206, 131);
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.join_bt {
	width: 130px;
	height: 40px;
	top: 448px;
	left: 130px;
	
}

.login_bt {
	width: 130px;
	height: 40px;
	top: 448px;
	left: 285px;
	
}