@charset "UTF-8";

html>body, button, input {
	font-family: Galmuri11;
	font-weight: 800;
}
body{
	background: rgb(181, 214, 146);
}

img {
	mix-blend-mode: multiply;
}

header {
	background: rgb(213, 255, 255);
}

.top_bar {
	margin: auto;
	width: 1200px;
	height: 200px;
	z-index: 10;
}

.logo {
	top: 10px;
	left: 120px;
}

.main {
	margin: auto;
	width: 1200px;
	height: 1200px;
	z-index: 10;
}

.id, .pw {
	width: 285px;
	height: 40px;
	z-index: 20;
}

.csp {
	margin-left: 5px;
	text-indent: 5px;
}

.id {
	top: 348px;
	left: 130px;
}

.pw {
	top: 398px;
	left: 130px;
}

.text_color {
	background: rgb(231, 206, 131);
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.join_bt {
	width: 130px;
	height: 40px;
	top: 448px;
	left: 285px;
	font-size: 20px;
}

.login_out_bt {
	width: 130px;
	height: 40px;
	top: 448px;
	left: 130px;
	font-size: 20px;
}

.member_name {
	width: 130px;
	height: 90px;
	top: 348px;
	left: 130px;
}

.start, .start-1, .start-2, start-text {
	width: 135px;
	height: 135px;
	top: 350px;
	left: 280px;
}

.start-2, .start-text {
	display: none;
}

.start-text {
	left: 10px;
	top: 60px;
	font-size: 30px;
}

.start:hover>.start-2, .start:hover>.start-text {
	display: block;
}

.start:hover>.start-1 {
	display: none;
}