@charset "UTF-8";

html>body, button, input {
	font-family: Galmuri11;
	font-weight: 800;
}

body {
	background: rgb(181, 214, 146);
}

img {
	mix-blend-mode: multiply;
}

header {
	background: rgb(213, 255, 255);
}

.top_bar {
	margin: auto;
	width: 1200px;
	height: 200px;
	z-index: 10;
}

.logo {
	top: 10px;
	left: 120px;
}

.text_color {
	background: rgb(231, 206, 131);
	border: 1px solid;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 메인 CSS */
.main {
	margin: auto;
	width: 1200px;
	height: 1200px;
	z-index: 10;
}

.id, .pw {
	width: 285px;
	height: 40px;
	z-index: 20;
}

.csp {
	margin-left: 5px;
	text-indent: 5px;
}

.id {
	top: 348px;
	left: 130px;
}

.pw {
	top: 398px;
	left: 130px;
}

.join_bt {
	width: 130px;
	height: 40px;
	top: 448px;
	left: 285px;
	font-size: 20px;
}

.login_out_bt {
	width: 130px;
	height: 40px;
	top: 448px;
	left: 130px;
	font-size: 20px;
}

.member_name {
	width: 130px;
	height: 90px;
	top: 348px;
	left: 130px;
}

.start, .start-1, .start-2, start-text {
	width: 135px;
	height: 135px;
	top: 350px;
	left: 280px;
}

.start-2, .start-text {
	display: none;
}

.start-text {
	left: 10px;
	top: 60px;
	font-size: 30px;
	z-index: 10;
}

.start:hover>.start-2, .start:hover>.start-text {
	display: block;
}

.start:hover>.start-1 {
	display: none;
}

/* 회원가입 CSS */
.doJoin_bg {
	left: 50px;
	top: 50px;
	width: 900px;
	height: 900px;
	border-radius: 50px;
}

.doJoin_title {
	top: 50px;
	left: 100px;
	width: 700px;
	border-top: 10px solid;
	border-bottom: 10px solid;
	border-left: 0;
	border-right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 7rem;
	font-weight: 300;
}

.doJoin_ph {
	font-size: 1.2rem;
	width: 390px;
	height: 80px;
}
.doJoin_ph > .label {
	width: 80px;
	text-align: center;
}

.doJoin_ph input {
    width: 280px;
    height: 70px;
    padding: 10px 15px;
    border: 1px solid; 
    font-size: 1.2rem;
    margin-left: 10px;
}

.doJoin_id {
	top: 340px;
	left: 50px;
}

.doJoin_pw {
	top: 460px;
	left: 50px;
}


.doJoin_pw2 {
	top: 580px;
	left: 50px;
}

.doJoin_name {
	top: 700px;
	left: 50px;
}

.doJoin_nickname {
	top: 340px;
	left: 460px;
}

.doJoin_cellphoneNum {
	top: 460px;
	left: 460px;
}

.doJoin_email {
	top: 580px;
	left: 460px;
}

.doJoin_bt, .doJoin_exit {
	height: 80px;
	width: 190px;
	font-size: 2rem;
}

.doJoin_bt{
	top: 700px;
	left: 460px;
}
.doJoin_exit {
	top: 700px;
	left: 660px;
}
